body {
  overflow-x: hidden;
  font-family: 'Press Start 2P', sans-serif;
  background: black;
  color: gainsboro;
  text-align: center;
}

::-webkit-scrollbar {
  background-color: black;
}

::-webkit-scrollbar-corner {
  background-color: black;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

.navbar {
  background-color: black;
}

.navbar-toggler-icon {
  background-color: gainsboro;
}

footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
}

.hereLink {
  color: gainsboro;
}

.hereLink:hover {
  color: gainsboro;
}

/* .row {
  padding: 20px;
} */

.header {
  margin-top: 8vh;
}

.wrapper {
  padding-top: 4vh;
  background: black;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  margin-bottom: 4vh;
}

.card {
  background: #fff;
  border-radius: 2px;
  height: 150px;
  margin: .5rem;
  position: relative;
  width: 150px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
}

.card-img-top {
  width: 80%;
  height: 10vw;
  object-fit: contain;
}

.the-scores{margin-bottom: 2vh;}

.winsLoses{margin-bottom: 29vh;}
